In [6]:
import pandas as pd 
rollers = pd.read_csv('rollercoasterdata.csv')
rollers.columns = rollers.columns.str.strip()
rollers.head()

,Name,Park,City/Region,City/State/Region,Country/Region,Geographic Region,Construction,Type,Status,Year/Date Opened,Height (feet),Speed (mph),Length (feet),Inversions (YES or NO),Number of Inversions,Drop (feet),Duration (min:sec),G Force,Vertical Angle (degrees)
0,10 Inversion Roller Coaster,Chimelong Paradise,Panyu,"Guangzhou, Guangdong",China,Asia,Steel,Sit Down,Operating,2006.0,98.4,45.0,2788.8,YES,10.0,NaN,1:32,NaN,NaN
1,Abismo,Parque de Atracciones de Madrid,Madrid,Madrid,Spain,Europe,Steel,Sit Down,Operating,2006.0,151.6,65.2,1476.4,YES,2.0,NaN,1:00,4,NaN
2,Adrenaline Peak,Oaks Amusement Park,Portland,Oregon,United States,North America,Steel,Sit Down,Operating,2018.0,72,45.0,1050.0,YES,3.0,NaN,NaN,NaN,97.0
3,Afterburn,Carowinds,Charlotte,North Carolina,United States,North America,Steel,Inverted,Operating,1999.0,113,62.0,2956.0,YES,6.0,NaN,2:47,NaN,NaN
4,Alpengeist,Busch Gardens Williamsburg,Williamsburg,Virginia,United States,North America,Steel,Inverted,Operating,1997.0,195,67.0,3828.0,YES,6.0,170,3:10,3.7,NaN

In [7]:
#rank the rollercoasters by spped and give them points based on their ranks 
rollers_speed = rollers.dropna(subset=["Speed (mph)"])
rollers['Speed Score'] = rollers_speed["Speed (mph)"].rank(ascending=True)
rollers_speed.sort_values(by="Speed (mph)", ascending = False)
rollers['Speed Score'].fillna(0, inplace = True)

#rank the rollercoasters by drops and give points based on their ranks 
rollers_drops = rollers.dropna(subset=["Drop (feet)"])
rollers['Drop Score'] = rollers_drops["Drop (feet)"].rank(ascending=True)
rollers_drops.sort_values(by="Drop (feet)", ascending = False)
rollers['Drop Score'].fillna(0, inplace = True)

#wood bonus
def bonus(construction):
    if construction=='wood':
        return 10
    elif construction=='steel':
        return 0
    else:
        return 0
rollers['Construction Bonus'] = rollers.Construction.apply(bonus)

#fill in / replace the blank Durationa will 0:00
rollers['Duration (min:sec)']=rollers['Duration (min:sec)'].fillna("0:00")
rollers['Duration (min:sec)']=rollers['Duration (min:sec)'].replace(" ", "0:00")
rollers['Duration (min:sec)']=pd.to_datetime(rollers['Duration (min:sec)'], format='%M:%S')
rollers.head()

#convert duration time into seconds
import time, datetime
def convert(t):
    return int(datetime.timedelta(minutes=t.minute, seconds=t.second).total_seconds())
rollers['Duration (min:sec)'] = rollers['Duration (min:sec)'].apply(convert)
rollers.head()

#rank the rollercoasters by duration and give them points based on their ranks 
rollers_duration = rollers.dropna(subset = ['Duration (min:sec)'])
rollers['Duration Score'] = rollers_duration["Duration (min:sec)"].rank(ascending=True)
rollers_duration.sort_values(by="Duration (min:sec)", ascending = False)

rollers['Total Score']=rollers['Duration Score']+rollers['Speed Score']+rollers['Drop Score']+rollers['Construction Bonus']
rollers = rollers.sort_values(by="Total Score", ascending = False)
rollers[0:10]

,Name,Park,City/Region,City/State/Region,Country/Region,Geographic Region,Construction,Type,Status,Year/Date Opened,...,Number of Inversions,Drop (feet),Duration (min:sec),G Force,Vertical Angle (degrees),Speed Score,Drop Score,Construction Bonus,Duration Score,Total Score
239,Steel Dragon 2000,Nagashima Spa Land,Nagashima,"Kuwana,, Mie",Japan,Asia,Steel,Sit Down,Operating,2000.0,...,0.0,306.8,240,,NaN,288.5,97.0,0,301.0,686.5
58,Coaster Through the Clouds,Nanchang Wanda Theme Park,Xinjian,"Nanchang, Jiangxi",China,Asia,Steel,Sit Down,Operating,2016.0,...,0.0,255.9,252,NaN,NaN,280.0,90.5,0,304.0,674.5
151,Leviathan,Canada's Wonderland,Vaughan,Onterio,Canada,North America,Steel,Sit Down,Operating,2012.0,...,0.0,306,208,NaN,80.0,286.0,96.0,0,291.0,673.0
270,Titan,Six Flags Over Texas,Arlington,Texas,United States,North America,Steel,Sit Down,Operating,2001.0,...,0.0,255,210,NaN,NaN,282.0,88.5,0,293.0,663.5
131,Intimidator 305,Kings Dominion,Doswell,Virginia,United States,North America,Steel,Sit Down,Operating,2010.0,...,0.0,300,180,NaN,85.0,285.0,94.5,0,276.5,656.0
100,Fujiyama,Fuji-Q Highland,Fujiyoshida,Yamanashi,Japan,Asia,Steel,Sit Down,Operating,1996.0,...,0.0,229.7,216,3.5,65.0,271.5,87.0,0,296.0,654.5
225,Silver Star,Europa Park,Rust,Baden Wuerttemberg,Germany,Europe,Steel,Sit Down,Operating,2002.0,...,0.0,219.8,240,4,68.5,265.5,80.5,0,301.0,647.0
110,Goliath,Six Flags Magic Mountain,Valencia,California,United States,North America,Steel,Sit Down,Operating,2000.0,...,0.0,255,180,NaN,61.0,282.0,88.5,0,276.5,647.0
221,Shambhala,PortAventura Park,Salou,Tarragona,Spain,Europe,Steel,Sit Down,Operating,2012.0,...,0.0,255.9,180,3.8,NaN,277.0,90.5,0,276.5,644.0
130,Intimidator,Carowinds,Charlotte,North Carolina,United States,North America,Steel,Sit Down,Operating,2010.0,...,0.0,211,213,NaN,74.0,255.5,74.0,0,295.0,624.5

In [8]:
rollers.to_csv('newdata.csv')